/* 
Youtube: Magno Efren
https://www.youtube.com/c/MagnoEfren/videos

*/ 

@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Press+Start+2P&family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Nunito:wght@200&family=Press+Start+2P&display=swap');

/* 
font-family: 'Tangerine', cursive;  
font-family: 'Press Start 2P', cursive;
font-family: 'Nunito', sans-serif;
*/ 


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}

body{
	transition: 1s;


}

html{
	scroll-behavior: smooth;
}

#inicio {
	background: linear-gradient(rgba(0,0,0, 1), rgba(0, 0, 0, 0)), url("../images/fondo2.png");	
	background-size: cover;
	background-position: center center;
	height: 100vh;
	width:  100%;
	height: 50%;

}


#inicio .contenido header {
	background-color: rgba(255, 255, 255, 1);
	position: fixed;
	width: 100%;
	z-index: 100;
	top: 0;
}

#inicio .contenido header .contenido-header{
	max-width: 1100px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10px;

}

#inicio .contenido header .contenido-header .inicio-dos {
	list-style: none;

}

#inicio .contenido header .contenido-header .inicio-dos a{
	font-family: 'Press Start 2P', cursive;
	text-decoration: none;
	text-align: center;
	color: #008080;	
	cursor: pointer;
	font-size: 25px;
}

#inicio .contenido header .contenido-header nav ul{
	list-style: none;
	display: flex;
	align-items: center;
}


#inicio .contenido header .contenido-header nav ul li a{
	text-decoration: none;
	color: #000;
	margin: 0 5px;
	font-weight: 400;
	font-weight: bolder;
	transition: 0.5s;
	padding: 5px 15px;
	
}

#inicio .contenido header .contenido-header nav ul a:hover{
	color: #008080;
}

#inicio .contenido header .contenido-header .redes a{
	text-decoration: none;
	display: inline-block;
	margin-left: 5px;
	transition: 0.5s;
	font-size: 25px;
	color: #000;	
}

#inicio .contenido header .contenido-header .redes a:hover{
	color: #008080;
}

#inicio .contenido header .contenido-header .seleccionado{
	color: #008080;
}

#inicio .contenido .presentacion{
	max-width: 1100px;
	height: 100vh;
	margin: auto;
	columns: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
}

#inicio .contenido .presentacion .bienvenida {
	font-size: 30px;
	margin-top: 30px;
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 5px;
}

#inicio .contenido .presentacion h2{
	font-size: 25px;
	margin-bottom:  25px;
	text-align: center;
}

#inicio .contenido .presentacion .descripcion{
	font-size: 45px;
	margin-bottom:  25px;
	text-align: center;
	font-family: 'Tangerine', cursive; 
}

#inicio .contenido .presentacion a{
	text-decoration: none;
	display: inline-block;
	margin: 15px;
	padding: 15px 15px;
	border: 2px solid #fff;
	border-radius: 20px;
	color: #fff;	
	text-transform: uppercase;
	transition: 1s;
}

#inicio .contenido .presentacion a:hover{
	background: #008080;
	transition: 1s;
}

#icon-nav {
	color: #008080;
	display: none;
	font-size: 25px;
}

/*CONFIGURACION DE LOS BOTONES Y EL STILO DARK */

#inicio .contenido header .contenido-header .switch{
	background: transparent;
	border: none;
}

#inicio .contenido header .contenido-header .switch a{
	background-color: #008080;
	color: #fff;
	cursor: pointer;
	width: 30px;
	height: 30px;
	display: inline-block;
	border-radius: 15px;
	font-size: 24px;
}

#inicio .contenido header .contenido-header .switch .sun{
	display: none;
}


/* style dark */

/* style dark  headerrrrrrrrrrrrr */
.darkmode #inicio .contenido header {
	background-color: rgba(0, 0, 0, 1);
	position: fixed;
	width: 100%;
	z-index: 100;
	top: 0;
}



body.darkmode{
	background-color: #000;
	color: #fff;
	transition: 1s;
}
.darkmode #inicio .contenido header .contenido-header .switch .moon{
	display: none;
}

.darkmode #inicio .contenido header .contenido-header .switch .sun{
	display: block;
	background-color: #aa00aa;	
}

.darkmode #inicio {
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/fondo1.png");	
	background-size: cover;
	background-position: center center;
	height: 100vh;
}
.darkmode #inicio .contenido header .contenido-header nav ul li a{
	color: #fff;
	
}

.darkmode #inicio .contenido header .contenido-header .redes a{
	color: #fff;
}


.darkmode #inicio .contenido header .contenido-header .redes a:hover{
	color: #aa00aa;
}

.darkmode #inicio .contenido header .contenido-header nav ul a:hover{
	color: #aa00aa;
}

.darkmode #inicio .contenido header .contenido-header .seleccionado{
	color: #aa00aa;
}

.darkmode #inicio .contenido header .contenido-header .inicio-dos a{
	color: #aa00aa;
}

.darkmode #inicio .contenido .presentacion a:hover{
	background-color: #aa00aa;
}

.darkmode #icon-nav {
	color: #aa00aa;
}

.darkmode #sobremi .sobremi a{  
	border: 2px solid #aa00aa;
	color: #aa00aa;
}

.darkmode #sobremi .sobremi a:hover{
	background-color: #aa00aa;
	color: #fff;
}

.darkmode #portafolio .proyecto .informacion .links a{
	color: #aa00aa;
}

.darkmode #portafolio .proyecto .proyecto_numero:hover{
	border-bottom: 5px solid #aa00aa;
}


.darkmode #servicios .fila .servicio .icon{
	background-color: #aa00aa;
}

.darkmode #contacto .contenedor-form .datos .icon{
	color: #aa00aa;
}

.darkmode #contacto .contenedor-form .datos h4{
	color: #aa00aa;
}

.darkmode #contacto .contenedor-form .datos h4:hover{
	color: #fff;
}

.darkmode footer{
	background-color: #aa00aa;

}

/* FIN DE LA CONFIGURACION */
/*#############################################################################################################################*/
/*SECCION SOBREMI */

#sobremi{
	max-width: 1100px;
	margin: auto;
	padding: 50px 15px;
	display: flex;
}

#sobremi .contenedor-foto{
	max-width: 400px;
	margin-right: 80px;
}

#sobremi .contenedor-foto:hover{
	max-width: 400px;
	margin-right: 80px;
	transform: scale(1.05);

}

#sobremi .contenedor-foto img {
	padding: 2px;
	width: 100%;
	border-radius: 50%;
	background-color: #fff;
	animation: girar 2s infinite alternate; 

}



@keyframes girar {
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}



#sobremi .sobremi{
	margin: 0 10px;
}

#sobremi .sobremi .titulo-seccion{
	font-size:  25px;
	text-decoration: none;
	text-deration-thickness 5px;
}

#sobremi .sobremi p{
	font-size:18px;
	line-height: 25px;
	margin-bottom: 20px;
}

#sobremi .sobremi a{
	display: inline-block;
	text-decoration: none;
	margin: 15px;
	padding: 10px 10px;
	border: 2px solid #008080;
	border-radius: 20px;
	color: #008080;
	margin-top: 30px;
	transition: .5s;
}

#sobremi .sobremi a:hover{
	background-color: #008080;
	color: #fff;
}

/*#############################################################################################################################*/
/* DISEÑO DEL PROTAFOLIO */


#portafolio{
	padding: 100px 15px;
	text-align: center;	

}

#portafolio .titulo-seccion{
	text-align: center;
	font-size: 22px;
	text-transform: uppercase;
	text-decoration: none;
}


#portafolio .proyecto{
	padding: 10px 10px;
	display: flex;
	align-items: center;
}



#portafolio .proyecto .foto{
	width: 100%;
    flex: 0 0 50%; /* La foto ocupará la mitad del espacio */


}

#portafolio .proyecto .foto img{
	width: 100%;
	border-radius: 10px;

	/* MODIFICACION                                          JJJJJJJJJJJJJJJJJJ */
  --_g: 10% /45% 45% no-repeat linear-gradient(#fff 0 0);
  --m:
    left   var(--_i,0%) top    var(--_g),
    bottom var(--_i,0%) left   var(--_g),
    top    var(--_i,0%) right  var(--_g),
    right  var(--_i,0%) bottom var(--_g);
  -webkit-mask: var(--m);
          mask: var(--m);

  transition: .3s linear;
  cursor: pointer;
}


#portafolio .proyecto .foto:hover {
	opacity: 1;
	bottom: 0;
	border-radius: 15px solid #008080;
  --_i: 10%;

}


#portafolio .proyecto .informacion{
	padding: 10px 15px;
	transition: .5s;
	text-align: left;
	width: 100%;

}

#portafolio .proyecto .informacion h2{
text-align: center;
}

#portafolio .proyecto .informacion .subtitulo{
font-weight: bold;
padding: 5px;
}

#portafolio .proyecto .informacion .links{
	text-align: center;
	padding: 10px;

}


#portafolio .proyecto .informacion .links a{
	text-decoration:none;
	color: #008080;
	display: inline-block;
	margin: 0 5px;
	font-size: 30px;
	transition: .5s;
	justify-content: left;
}


#portafolio .proyecto .proyecto_numero:hover{
	opacity: 1;
	bottom: 0;
	border-bottom: 5px solid #008080;
}


#portafolio .proyecto .proyecto_numero{	
	display: flex; /* Utilizamos flexbox para organizar los elementos */
	align-items: center; /* Centra verticalmente los elementos */
	margin: 0 auto; /* Centra el contenedor horizontalmente */
	padding: 20px; /* Espaciado interior del contenedor */
	border: 2px solid #888; /* Borde para visualizar el contenedor */
	border-radius : 10px;
}


/*#############################################################################################################################*/
/* SECCCION SETVICIOS */

#servicios{
	padding: 100px 15px;
	text-align: center;	
}

#servicios .titulo-seccion{
	font-size: 22px;
	text-transform: uppercase;
	text-decoration:none;
}
#servicios .fila{
	display: flex;
	justify-content: space-between;
	max-width: 1100px;
	margin: 30px auto;
}

#servicios .fila .servicio{
	max-width: 350px;
	padding: 30px;
	margin: 0 5px;
	border-radius: 5px;
	transition: .5s;
}

#servicios .fila .servicio:hover{
	box-shadow: 8px 8px 10px #008080, -8px -8px 15px  #aa00aa;	
}

#servicios .fila .servicio h4{
	font-size: 22px;
	margin-bottom: 25px;
}

#servicios .fila .servicio .icon{
	display: inline-block;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background-color: #008080;
	padding: 10px;
	text-align: center;
	text-decoration:none;
	font-size: 30px;
}

#servicios .fila .servicio hr{
	width: 30px;
	margin: auto;
	margin-bottom: 10px;
}

#servicios .fila .servicio ul{
	list-style: none;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

#servicios .fila .servicio p{
font-size: 14px;
line-height: 20px;
}

/*#############################################################################################################################*/
/*SECCION DE CONTACTO DISEÑO*/

#contacto {
	padding: 15px 15px;	
}

#contacto .titulo-seccion{
	margin-bottom: 20px;
	text-align: center;
	font-size: 22px;
	text-transform: uppercase;
	text-decoration: none;
}

#contacto .contenedor-form{
	display: flex;
	justify-content: space-between;
	max-width: 1100px;
	margin: 30px auto;
}

#contacto .contenedor-form .datos{
	max-width: 350px;
	padding: 30px;
	margin: 5 5px;
	text-align: center;
}

#contacto .contenedor-form .datos .icon{
	display: inline-block;
	color: #008080;
	padding: 10px;
	font-size: 30px;
	margin-bottom: 5px;
}

#contacto .contenedor-form .datos h4{
	color: #008080;
}

#contacto .contenedor-form .datos h4:hover{
	color: #000;
}

/*DISEÑO FOOTER*/

footer{
	background-color: #008080;
	color: #fff;
	text-align: center;
	padding: 30px 0;
	font-size: 12px;
}

footer a{
	text-decoration:none;
	color: #fff;
	display: inline-block;
	margin: 5px;
	font-size: 30px;
	transition: .5s;
}

footer a:hover{
	color: #000;
	transition: .5s;
}


/* SECCION  RESPONSIVE */

@media screen and (max-width: 890px){
	.redes{
		display: none;
	}
	nav{
		display: none;
	}

	nav.responsive{
		display: block;
		
		background-color: rgba(255, 255, 255, 1);
		width: 100%;
		position: absolute;
		top: 48px;
		left: 0;
		padding: 10px 0;
	}

	.darkmode nav.responsive{
		display: block;
		background-color: rgba(0, 0, 0, 255);
		width: 100%;
		position: absolute;
		top: 48px;
		left: 0;
		padding: 10px 0;
	}


	nav.responsive ul{
		display: block !important;
		text-align: center;
	}
	nav.responsive ul li{
		margin: 5px 0;
		color: #fff;
	}
	#icon-nav{
		display: block;
		margin-top: 0px;
	}
	#inicio .contenido header .contenido-header nav ul li a{
	display: block;
	}

	#inicio .contenido .presentacion h2{
		font-size: 40px;
	}
	#sobremi{
		padding: 50px 0;
		display: block;
	}
	#sobremi .contenedor-foto{
		margin: auto;
		max-width: 200px;
	}
	#sobremi .contenedor-foto img{
		padding: 8px;
	}
	#sobremi .sobremi .titulo-seccion{
		text-align: center;
	}
	#sobremi .sobremi h2{
		font-size: 25px;
		text-align: center;
	}
	#portafolio{
		padding: 50px 0;
	}

	#portafolio .proyecto{
		display: block;
	}

	#portafolio .proyecto .proyecto_numero{
		display: block;
	}

	#portafolio .proyecto .informacion{
		margin: 10px auto;
	}

	#servicios{
		padding: 50ps 15px;
	}
	#servicios .fila{
		display: block;
	}
	#servicios .fila .servicio{
		margin: 10px auto;
	}
	#contacto{
		padding: 15px auto;
	}

	#contacto .contenedor-form{
		display: block;
	}

	#contacto .contenedor-form .datos{
		margin: 15px auto;
	}
}
