
.caja1 {
	width: 200px;
	margin: 20px;
	height: 200px;
	background: #011;
	halign: 'center'
	position: relative;
	transition-property: background;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(0.0, 0.0, 1.0, 1.0);
	animation-name: desplazamiento;
	animation-duration: 2s;
	animation-iteration-count: 3;
	animation-direction: alternate;
	animation-fill-mode: forwards;
}


.caja1:hover {
	background: greenyellow;
}



@keyframes desplazamiento{

	0%{
		left: 0;
		background: #011;
	}

	50%{

		background: lightyellow;
	}

	100%{
		left: 80%;
		background: #011;

	}
}
